body {
  box-sizing: border-box;
}
h1 {

}
h2 {

}

img {
    max-width: 100%;
}

figure {
    margin: 0;
}

body {
  font-size: 25px;
  line-height: 35px;
  margin: 0 25px;
}

h1 {
  font-size: 1.5em;
}

figure {
  margin-bottom: 30px;
}


@media screen and (min-width: 376px) {
  body {
    background-color: red;
    font-size: 20px;
    line-height: 25px;
    margin: 0 40px;
  }  

  .figures {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  figure {
    padding: 0 20px;
    flex-basis: 35%;    
  }

  figure > img {
    max-width: 250px;
  }
}