body {
  background-color: #90e0ef;
}

.textarea {
  max-width: 80%;
  min-width: 80%;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header , main {
  margin: 30px;
}

fieldset {
  padding: 10px;
}

.form-row , .form-line {
  margin-bottom: 10px;
} */
